# Environments
.venv/
venv/
.env

# Python cache/artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Tooling
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE/editor
.idea/
.vscode/
.DS_Store
Thumbs.db

